{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>HOBO 55+ Division</title>
  <link href="{% static 'fontawesomefree/css/all.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <script src="{% static 'jquery.js' %}"></script>
  {% include "fancybox/fancybox_css.html" %}
</head>
<body>
    <div class="centered-container">
        <div class="rounded-rectangle nunito">
            <h2>
                <span class="title">Hamilton Oldtimers Baseball Organization</span><br>
                <span class="subtitle">55+ Division</span><br>
            </h2>
        </div>
        <nav class="opensans">
          <ul class="navbar-menu">
            <li><a href="{% url 'home' %}">Welcome</a></li>
            <li><a aria-haspopup="true">About</a>
              <ul class="dropdown" aria-label="submenu">
                <li><a href="{% url 'albums' %}">Photo Albums</a></li>
                <li><a href="{% url 'links' %}">Links</a></li>
              </ul>
              <i class="fa-solid fa-caret-down"></i>
            </li>
            <li><a href="{% url 'divisions' %}">Divisions & Teams</a></li>
            <li><a href="{% url 'schedules' %}" >Schedules</a></li>
            <li><a href="#">Standings</a></li>
            <li><a href="{% url 'forms' %}">Forms</a></li>
            <li><a aria-haspopup="true">Pages</a>
              <ul class="dropdown" aria-label="submenu">
                <li><a href="{% url 'howtoscore' %}">How to Score</a></li>
                <li><a href="{% url 'obituary' %}">Bob Spence's Obituary</a></li>
              </ul>
              <i class="fa-solid fa-caret-down"></i>
            </li>
          </ul>
        </nav>
    </div>
    <div class="lower-container">
      <div class="container-left">
        {% block content %}
        {% endblock %}
      </div>
      <div class="container-right">
        <div class="sidebar nunito">
          {% if user.is_authenticated %}
            <a href="#" class="styled-button green">
              <i class="fa-solid fa-user"></i>
              {{ user.username }}
            </a>
            <a href="{% url 'logout' %}" class="styled-button blue">Log Out</a>
            <a href="{% url 'password_reset' %}" class="styled-button red">Reset Password</a>
          {% else %}
            <a href="{% url 'login' %}" class="styled-button blue">Log In</a>
          {% endif %}
        </div>
        <div class="sidebar nunito">
          <table>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>Chris Fraser</td>
                <td>Convenor</td>
                <td>905-765-4981</td>
                <td>TBA</td>
            </tr>
            <tr>
                <td>Al Purins</td>
                <td>Treasurer</td>
                <td>-</td>
                <td>TBA</td>
            </tr>
          </table> 
        </div>
      </div>
    </div>
    {% include "fancybox/fancybox_js.html" %}
</body>
</html>