{% extends "base.html" %}

{% block content %}
  <div class="pagetitle nunito">
    <h2>Links</h2>
  </div>
  <div class="solo-bubble nunito">
    <div class="link-item">
      <a href="https://mcburneyfuneralhome.com/tribute/details/1368/Bill-Ste-Marie/obituary.html" class="link">Bill Ste. Marie Obituary</a>
      <p>Obituary for HOBO 55+ alumnus Bill "Rooster" Ste. Marie.</p>
    </div>
    <div class="link-item">
      <a href="https://www.legacy.com/ca/obituaries/thespec/name/roderick-currie-obituary?pid=203116359" class="link">Rod Currie Obituary</a>
      <p>Obituary for HOBO 55+ alumnus Rod Currie.</p>
    </div>
    <div class="link-item">
      <a href="https://www.baseball-reference.com/players/r/robinja02.shtml" class="link">Jackie Robinson</a>
      <p>Jackie Robinson's career stats, bio, etc., on "baseball-reference.com".</p>
    </div>
    <div class="link-item">
      <a href="https://www.baseball-reference.com/players/a/alstoto01.shtml" class="link">Tom Alston</a>
      <p>Tom Alston's career stats, bio, etc., on "baseball-reference.com".</p>
    </div>
    <div class="link-item">
      <a href="https://www.baseball-reference.com/players/t/tricebo01.shtml" class="link">Bob Trice</a>
      <p>Bob Trice's career stats, bio, etc., on "baseball-reference.com".</p>
    </div>
    <div class="link-item">
      <a href="https://www.baseball-reference.com/players/v/virgioz01.shtml" class="link">Ozzie Virgil</a>
      <p>Ozzie Virgil's career stats, bio, etc., on "baseball-reference.com".</p>
    </div>
    <div class="link-item">
      <a href="https://baseballhalloffame.ca/" class="link">Canadian Baseball Hall of Fame</a>
    </div>
    <div class="link-item">
      <a href="https://www.chch.com/history-in-the-making/" class="link">CNOBF 2017 Tournament - feature on CHCH TV Channel 11</a>
    </div>
    <div class="link-item">
      <a href="https://www.leaguelineup.com/welcome.asp?url=cnobf" class="link">Canadian National Oldtimers Baseball Federation</a>
    </div>
    <div class="link-item">
      <a href="https://www.leaguelineup.com/welcome.asp?url=hobo" class="link">Hamilton Oldtimers Baseball Organization 35+ Division</a>
    </div>
    <div class="link-item">
      <a href="https://www.theibl.ca/" class="link">Intercountry Baseball League</a>
    </div>
    <div class="link-item">
      <a href="https://www.theweathernetwork.com/ca/weather/ontario/hamilton" class="link">Weather in Hamilton</a>
    </div>
  </div>
{% endblock %}