{% extends "base.html" %}

{% block content %}
  <div class="pagetitle nunito">
    <h2>Albums</h2>
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'create_album' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="styled-button black">Create Album</button>
      </form>
    {% endif %}
  </div>
  {% for album in albums_with_photos %}
    <div class="bubble opensans">
      <div class="upper-half">
        <h3>{{ album.title }}</h3>
        {% if user.is_authenticated %}
          <a href="{% url 'add_photo' album.id %}" class="styled-button black pushoffright">Add Photo</a>
        {% endif %}
      </div>
      <div class="lower-half">
        {% for photo in album.photos %}
          <a data-type="image" href="{{ photo.image.url }}" class="fancybox">
            <img src="{{ photo.image.url }}" alt="{{ photo.caption }}">
          </a>
          <!-- <p>{{ photo.caption }}</p> !-->
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}